<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <test name="HomePage Test" >
        <classes>
            <class name="com.mobile.xcart.testSuite.HomePageTest"></class>
        </classes>
    </test>
    <test name="Comming Soon " >
        <classes>
            <class name="com.mobile.xcart.testSuite.ComingSoonTest"></class>

        </classes>
    </test>
    <test name="Contactus " >
        <classes>
            <class name="com.mobile.xcart.testSuite.ContactUsTest"></class>

        </classes>
    </test>
    <test name="hot uk deals sale " >
        <classes>
            <class name="com.mobile.xcart.testSuite.HotUkDealsSaleTest"></class>

        </classes>
    </test>
    <test name="Best sellers " >
        <classes>
            <class name="com.mobile.xcart.testSuite.HotUkDealsBestSellersTest"></class>

        </classes>
    </test>
    <test name="New Page" >
        <classes>
            <class name="com.mobile.xcart.testSuite.NewPageTest"></class>

        </classes>
    </test>
    <test name="Shopping Test" >
        <classes>
            <class name="com.mobile.xcart.testSuite.ShoppingTest"></class>

        </classes>
    </test>
    <test name="Xcart.com" >
        <classes>
            <class name="com.mobile.xcart.testSuite.ShippingTest"></class>

        </classes>
    </test>
    
</suite>
